@charset "UTF-8";
.header {
  background: url(../img/17.png) 50% 50%/cover no-repeat;
  width: 100%;
  height: 100vh;
  position: relative;
  top: 0;
}
.header__content {
  max-width: 940px;
  margin: 0 auto;
}
.header__menu {
  padding: 0 50px;
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo p {
  padding-left: 15px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  line-height: 0.65;
  text-align: center;
}
.header__nav ul {
  display: flex;
}
.header__nav ul li {
  padding: 0 15px;
  font-size: 16px;
}
.header__nav ul li a {
  color: white;
  text-transform: uppercase;
  line-height: 2.25;
  padding-bottom: 5px;
}
.header__nav ul li a:hover {
  color: #fc635e;
  border-bottom: 4px solid #fc635e;
  transition: 0.2s ease;
}
.header__head {
  width: 100%;
  height: 100vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: -100px;
}
.header__title {
  padding-bottom: 30px;
}
.header__title h1 {
  position: relative;
  font-size: 51px;
  color: #fc635e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.706;
  display: flex;
  align-items: center;
}
.header__title h1::before {
  content: "";
  width: 100px;
  height: 8px;
  background: #4f4d4d;
  position: absolute;
  left: -110px;
}
.header__title h1::after {
  content: "";
  width: 100px;
  height: 8px;
  background: #4f4d4d;
  position: absolute;
  right: -110px;
}
.header__subtitle h2 {
  font-size: 24px;
  color: white;
  line-height: 1.083;
  text-align: center;
}
.header__button {
  margin: 30px 0 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__button a {
  font-size: 24px;
  color: #fc635e;
  line-height: 1.083;
  text-align: center;
  border: 2px solid #fc635e;
  padding: 20px 40px;
  border-radius: 7px;
}
.header__button a:hover {
  background: rgba(255, 255, 255, 0.149);
  transition: 1s ease;
}
.header__button img {
  margin-left: 5px;
}
.header__button img::after {
  content: "";
  position: absolute;
}
@media (max-width: 990px) {
  .header__head h1 {
    font-size: 30px;
  }
  .header__head h2 {
    font-size: 14px;
  }
  .header__head a {
    font-size: 14px;
  }
}
@media (max-width: 670px) {
  .header__menu {
    padding-top: 15px;
  }
  .header__logo {
    margin: 0 auto;
  }
  .header__logo p {
    display: none;
  }
  .header__nav {
    display: none;
  }
  .header__head {
    padding-top: 15px;
  }
  .header__head h1 {
    font-size: 20px;
  }
  .header__head h1::after {
    display: none;
  }
  .header__head h1::before {
    display: none;
  }
  .header__head h2 {
    font-size: 10px;
  }
  .header__head a {
    padding: 10px 20px;
    font-size: 10px;
  }
  .header__button {
    margin-top: 15px;
  }
  .header .slider1 {
    bottom: 50px;
  }
}

* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
* li {
  list-style-type: none;
}
* a {
  color: #000;
  font-style: normal;
  text-decoration: none;
}

.slider1 {
  position: relative;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.slider2 {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}

.what__content {
  max-width: 960px;
  margin: 0 auto;
}
.what__header {
  margin: 90px 0;
}
.what__title {
  display: flex;
  justify-content: center;
}
.what__title p {
  padding-bottom: 10px;
  display: inline;
  border-bottom: 1px solid #868686;
  font-size: 28px;
  color: #868686;
  text-transform: uppercase;
  line-height: 0.928;
  text-align: center;
}
.what__title span {
  font-size: 28px;
  color: #fc635e;
  text-transform: uppercase;
  line-height: 0.928;
  text-align: center;
}
.what__subtitle {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.what__subtitle p {
  font-size: 20px;
  color: #adadad;
  line-height: 1.3;
  text-align: justify;
  width: 55%;
}
.what__body {
  display: flex;
  justify-content: space-around;
}
.what__info {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 23%;
}
.what__info a .six {
  width: 90px;
  height: 100px;
  background-color: #fe8682;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.what__info a .six::before {
  content: "";
  width: 80px;
  height: 90px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #fc635e;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -100;
}
.what__info a .seven {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 100px;
  background-color: #fe8682;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
}
.what__info a .seven::before {
  content: "";
  width: 80px;
  height: 90px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #ffffff;
  display: block;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: -100;
}
.what__info p {
  padding: 20px 0 10px 0;
  font-size: 20px;
  color: #868686;
  text-transform: uppercase;
  line-height: 1;
  text-align: center;
  border-bottom: 1px solid #868686;
}
.what__info span {
  font-size: 15px;
  color: #adadad;
  line-height: 1.2;
  text-align: center;
  margin: 20px 0 50px 0;
}
@media (max-width: 700px) {
  .what__header {
    margin: 50px 0;
  }
  .what__title p {
    font-size: 24px;
  }
  .what__title span {
    font-size: 24px;
  }
  .what__subtitle p {
    width: 70%;
  }
  .what__body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .what__info {
    width: 70%;
  }
  .what__info a .six {
    width: 180px;
    height: 200px;
  }
  .what__info a .six::before {
    width: 160px;
    height: 180px;
    top: 10px;
    left: 10px;
  }
  .what__info a .seven {
    width: 180px;
    height: 200px;
  }
  .what__info a .seven::before {
    width: 160px;
    height: 180px;
    top: 10px;
    left: 10px;
  }
}

.expand__body {
  background: url(../img/bg18.png) 50% 50%/cover no-repeat;
  padding: 90px 0;
}
.expand__box {
  margin: 0 auto;
  width: 80%;
  height: 390px;
  border: 10px solid #ffffff39;
  display: flex;
  justify-content: center;
  align-items: center;
}
.expand__header p {
  font-size: 51px;
  color: #fc635e;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.353;
  text-align: center;
}
.expand__header p span {
  font-size: 51px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.353;
  text-align: center;
}
.expand__button {
  display: flex;
  justify-content: center;
  margin: 50px 0 0 0;
}
.expand__button a {
  font-size: 24px;
  color: #fc635e;
  line-height: 1.083;
  text-align: center;
  padding: 20px 70px;
  border: 3px solid #fc635e;
  border-radius: 2px;
}
.expand__button a:hover {
  background: rgba(255, 255, 255, 0.183);
  transition: 0.4s ease;
}
.expand__slider {
  bottom: -50px;
}
@media (max-width: 840px) {
  .expand__box {
    height: 300px;
  }
  .expand__header p {
    font-size: 20px;
  }
  .expand__header p span {
    font-size: 20px;
  }
}

.process .hexagon {
  display: flex;
  flex-direction: column;
}
.process .hexagon h2 {
  font-size: 24px;
  color: #868686;
  text-transform: uppercase;
  line-height: 1.083;
  text-align: center;
  padding-bottom: 3px;
  border-bottom: 1px solid #868686;
}
.process .hexagon h2 span {
  color: #fc635e;
  font-size: 24px;
}
.process .hexagon p {
  padding: 15px 15px 0 15px;
  font-size: 15px;
  color: #9f9f9f;
  line-height: 1.133;
  text-align: left;
}
.process__body {
  position: relative;
  margin: 0 auto;
  width: 790px;
}
.process__header {
  margin: 50px 0 60px 0;
}
.process__line {
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: 560px;
  width: 790px;
}
.process__line svg {
  height: 560px;
  width: 790px;
  fill: none;
  stroke: #fc635e;
  stroke-width: 4px;
}
.process__hexagons {
  width: 790px;
  display: flex;
  height: 560px;
  margin: 50px auto;
  position: relative;
}
.process__hexagon1 {
  margin-right: -100px;
  position: absolute;
  margin-right: -80px;
  top: 100px;
  width: 175px;
  height: 200px;
  background-color: #adadad;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__hexagon1::before {
  content: "";
  width: 173px;
  height: 198px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #ffffff;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -100;
}
.process__hexagon2 {
  position: absolute;
  top: 248px;
  margin-right: -40px;
  margin-left: -50px;
  width: 260px;
  height: 305px;
  background-color: #adadad;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__hexagon2::before {
  content: "";
  width: 258px;
  height: 303px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: url(../img/Слой4.png) center no-repeat;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -100;
}
.process__hexagon3 {
  position: absolute;
  top: 155px;
  margin-left: 6px;
  margin-right: -50px;
  width: 175px;
  height: 200px;
  background-color: #adadad;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__hexagon3::before {
  content: "";
  width: 173px;
  height: 198px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #ffffff;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -100;
}
.process__hexagon4 {
  position: absolute;
  top: 6px;
  width: 175px;
  margin-left: -38px;
  height: 200px;
  background-color: #adadad;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__hexagon4::before {
  content: "";
  width: 173px;
  height: 198px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #ffffff;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -100;
}
.process__hexagon5 {
  position: absolute;
  top: 80px;
  margin-right: -1px;
  width: 260px;
  height: 305px;
  background-color: #adadad;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.process__hexagon5::before {
  content: "";
  width: 258px;
  height: 303px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #ffffff;
  display: block;
  position: absolute;
  top: 1px;
  left: 1px;
  z-index: -100;
}
.process__img1 {
  position: absolute;
  top: 125px;
  left: -20px;
  width: 40px;
  height: 40px;
  background: #fc635e;
  border-radius: 50%;
}
.process__img1 a {
  width: 100%;
  height: 100%;
}
.process__img1 a img {
  padding: 7px 0 0 10px;
}
.process__img1:hover {
  transform: scale(1.3);
  transition: 0.2s ease;
}
.process__img2 {
  position: absolute;
  top: 190px;
  left: 250px;
  width: 40px;
  height: 40px;
  background: #fc635e;
  border-radius: 50%;
}
.process__img2 a {
  width: 100%;
  height: 100%;
}
.process__img2 a img {
  padding: 10px 0 0 9px;
}
.process__img2:hover {
  transform: scale(1.3);
  transition: 0.2s ease;
}
.process__img3 {
  position: absolute;
  top: 35px;
  left: 340px;
  width: 40px;
  height: 40px;
  background: #fc635e;
  border-radius: 50%;
}
.process__img3 a {
  width: 100%;
  height: 100%;
}
.process__img3 a img {
  padding: 7px 0 0 10px;
}
.process__img3:hover {
  transform: scale(1.3);
  transition: 0.2s ease;
}
.process__img4 {
  position: absolute;
  top: 135px;
  left: 515px;
  width: 40px;
  height: 40px;
  background: #fc635e;
  border-radius: 50%;
}
.process__img4 a {
  width: 100%;
  height: 100%;
}
.process__img4 a img {
  padding: 7px 0 0 8px;
}
.process__img4:hover {
  transform: scale(1.3);
  transition: 0.2s ease;
}
.process__img5 {
  position: absolute;
  top: 360px;
  left: 645px;
  width: 40px;
  height: 40px;
  background: #ffffff;
  border: 3px solid #fc635e;
  border-radius: 50%;
}
.process__img5 a {
  width: 100%;
  height: 100%;
}
.process__img5 a img {
  padding: 10px 0 0 12px;
}
.process__img5:hover {
  transform: scale(1.3);
  transition: 0.2s ease;
}
@media (max-width: 980px) {
  .process__body {
    max-width: 300px;
  }
  .process__line {
    display: none;
  }
  .process__img1 {
    left: 15px;
    top: 30px;
  }
  .process__img1::after {
    content: "";
    position: absolute;
    left: 18px;
    width: 1px;
    height: 220px;
    background: #fc635e;
    border: 1px solid #fc635e;
    z-index: -100;
  }
  .process__img1:hover {
    transform: none;
  }
  .process__img2 {
    left: 15px;
    top: 230px;
  }
  .process__img2::after {
    content: "";
    position: absolute;
    left: 18px;
    width: 1px;
    height: 222px;
    background: #fc635e;
    border: 1px solid #fc635e;
    z-index: -100;
  }
  .process__img2:hover {
    transform: none;
  }
  .process__img3 {
    left: 15px;
    top: 430px;
  }
  .process__img3::after {
    content: "";
    position: absolute;
    left: 18px;
    width: 1px;
    height: 220px;
    background: #fc635e;
    border: 1px solid #fc635e;
    z-index: -100;
  }
  .process__img3:hover {
    transform: none;
  }
  .process__img4 {
    left: 15px;
    top: 630px;
  }
  .process__img4::after {
    content: "";
    position: absolute;
    left: 18px;
    width: 1px;
    height: 220px;
    background: #fc635e;
    border: 1px solid #fc635e;
    z-index: -100;
  }
  .process__img4:hover {
    transform: none;
  }
  .process__img5 {
    left: 12px;
    top: 830px;
  }
  .process__hexagons {
    max-width: 280px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 20px;
  }
  .process__hexagon1 {
    margin: 0 0 0px 0;
    top: 0;
  }
  .process__hexagon2 {
    margin: 0 0 -150px 0;
    top: 0;
    width: 175px;
    height: 200px;
  }
  .process__hexagon2::before {
    width: 173px;
    height: 198px;
  }
  .process__hexagon3 {
    margin: 150px 0 -180px 0;
    top: 0;
  }
  .process__hexagon4 {
    margin: 180px 0 -350px 0;
    top: 0;
  }
  .process__hexagon5 {
    margin: 350px 0 -440px 0;
    top: 0;
    width: 175px;
    height: 200px;
  }
  .process__hexagon5::before {
    width: 173px;
    height: 198px;
  }
  .process__slider {
    margin-top: 500px;
  }
}

.do__header {
  padding: 60px 0;
}
.do__slideone {
  background: #f2f2f2;
}
.do__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  margin: 0 auto;
  padding: 20px 40px;
}
.do__info {
  max-width: 45%;
  margin-left: 40px;
}
.do__info p {
  font-size: 28px;
  color: #868686;
  text-transform: uppercase;
  line-height: 0.928;
  text-align: left;
  padding: 0 0 0 15px;
  border-left: 10px solid #fc635e;
  margin: 0 0 20px 0;
}
.do__info span {
  font-size: 15px;
  color: #9e9898;
  line-height: 1.599;
  text-align: left;
  display: block;
}
.do__button {
  display: flex;
  justify-content: center;
  width: 160px;
  height: 40px;
  background: #fc635e;
  border-radius: 5px;
  margin: 40px 0 0 0;
}
.do__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: #f2f2f2;
  line-height: 1.299;
  text-align: center;
}
.do__img {
  width: 50%;
}
.do__img img {
  width: 100%;
}
.do__slidetwo p {
  text-align: right;
  padding: 0 15px 0 0px;
  border-right: 10px solid #fc635e;
  border-left: none;
}
.do__slidetwo span {
  display: block;
  text-align: right;
}
.do__slidethree {
  background: #f2f2f2;
}
@media (max-width: 690px) {
  .do__body {
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .do__body:nth-child(1) {
    flex-direction: column;
  }
  .do__info {
    max-width: 95%;
    margin-left: 0px;
    margin-top: 10px;
  }
  .do__info p {
    margin: 25px 20px;
    font-size: 20px;
  }
  .do__info span {
    text-align: center;
  }
  .do__button {
    margin: 40px auto;
  }
  .do__img {
    width: 80%;
  }
  .do__img img {
    width: 100%;
  }
}

.portfolio {
  padding: 80px 0 20px 0;
}
.portfolio__body {
  max-width: 940px;
  margin: 0 auto;
  text-align: center;
}
.portfolio__title h2 {
  display: inline-block;
  padding: 0 0 10px 0;
  font-size: 28px;
  color: #868686;
  text-transform: uppercase;
  line-height: 0.928;
  border-bottom: 1px solid #868686;
}
.portfolio__menu {
  display: flex;
  justify-content: space-around;
  margin: 40px 20px;
  padding: 20px 0;
  border-bottom: 1px solid #868686;
  border-top: 1px solid #868686;
}
.portfolio__menu a {
  font-size: 20px;
  color: #fc635e;
  text-transform: uppercase;
  line-height: 1.299;
}
.portfolio__menu a::after {
  content: "/";
  color: #868686;
  padding-left: 30px;
}
.portfolio__menu a:nth-child(5)::after {
  content: none;
}
.portfolio__content {
  display: flex;
  flex-direction: column;
}
.portfolio__blocks {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.portfolio__bigblock {
  position: relative;
  margin: 2.5px;
  width: 50%;
}
.portfolio__bigblock img {
  width: 100%;
}
.portfolio__blockinfo {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #fc635ead;
  opacity: 0;
}
.portfolio__blockinfo:hover {
  opacity: 1;
  transition: 0.4s ease;
}
.portfolio__blockinfo p {
  padding: 15px 0 0 20px;
  text-align: left;
  font-size: 28px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 0.928;
}
.portfolio__blockinfo a {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 80px;
  font-weight: bold;
  color: white;
}
.portfolio__litleblocks {
  display: flex;
  width: 50%;
}
.portfolio__litleblock {
  position: relative;
  margin: 5px;
  width: 100%;
}
.portfolio__litleblock img {
  width: 100%;
}
.portfolio__litleblock p {
  font-size: 20px;
}
.portfolio__button {
  margin: 60px auto 0 auto;
  width: 200px;
  height: 50px;
  background-color: #fc635e;
  border-radius: 5px;
}
.portfolio__button a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  font-size: 20px;
  color: white;
  line-height: 1.299;
  text-align: center;
}
.portfolio__slider {
  margin-top: 30px;
}
@media (max-width: 1000px) {
  .portfolio__menu {
    padding: 10px 0;
  }
  .portfolio__menu a {
    font-size: 12px;
  }
  .portfolio__menu a::after {
    padding-left: 10px;
  }
  .portfolio__blockinfo p {
    font-size: 14px;
  }
  .portfolio__blockinfo a {
    font-size: 50px;
  }
  .portfolio__litleblock p {
    padding: 10px 0 0 10px;
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  .portfolio__blocks {
    flex-direction: column;
  }
  .portfolio__blocks:nth-child(2) {
    flex-direction: column-reverse;
  }
  .portfolio__litleblock {
    margin: 0 5px 0 0;
  }
  .portfolio__litleblock:nth-child(2) {
    margin: 0;
  }
  .portfolio__bigblock {
    width: 70%;
  }
  .portfolio__litleblocks {
    width: 70%;
  }
}
@media (max-width: 460px) {
  .portfolio__menu a {
    font-size: 8px;
  }
  .portfolio__menu a::after {
    padding-left: 5px;
  }
}

.team {
  background: #f2f2f2;
}
.team__content {
  max-width: 940px;
  margin: 0 auto;
}
.team__header {
  padding: 50px 0;
}
.team__body {
  margin: 0 20px;
  display: flex;
  justify-content: space-between;
}
.team__info {
  width: 33.3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 70px;
}
.team__info p {
  font-size: 28px;
  color: #fc635e;
  line-height: 0.928;
  text-align: center;
  padding: 15px 0;
}
.team__info p span {
  font-size: 28px;
  color: #565656;
}
.team__info span {
  font-size: 20px;
  color: #565656;
}
.team__link {
  padding: 15px 0 0 0;
}
.team__link a {
  padding: 5px;
}
@media (max-width: 750px) {
  .team__body {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .team__info {
    width: 70%;
  }
  .team__info img {
    width: 200px;
  }
  .team__info p {
    font-size: 24px;
  }
  .team__info p span {
    font-size: 24px;
  }
  .team__link a img {
    width: 50px;
  }
}

.testimonials {
  max-width: 940px;
  margin: 0 auto;
  padding: 50px 0 40px 0;
}
.testimonials__kavuchka {
  display: flex;
  justify-content: center;
}
.testimonials__body {
  margin: 70px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.testimonials__text {
  width: 33%;
}
.testimonials__text p {
  font-size: 15px;
  color: #767676;
  line-height: 1.4;
  text-align: right;
}
.testimonials__img {
  display: flex;
  justify-content: center;
  width: 33%;
}
.testimonials__info {
  width: 33%;
}
.testimonials__info p {
  font-size: 28px;
  color: #fc635e;
  line-height: 1.464;
  text-align: left;
}
.testimonials__info p span {
  font-size: 28px;
  color: #767676;
  font-weight: 600;
}
.testimonials__info span {
  font-size: 20px;
  color: #767676;
}
.testimonials__sliderr {
  display: flex;
  justify-content: center;
}
.testimonials__sliderr a img {
  margin: 15px;
}
@media (max-width: 700px) {
  .testimonials__body {
    flex-direction: column;
  }
  .testimonials__img {
    margin: 20px 0;
  }
  .testimonials__text {
    width: 70%;
  }
  .testimonials__text p {
    text-align: center;
  }
  .testimonials__info {
    width: 80%;
  }
  .testimonials__info p {
    text-align: center;
  }
  .testimonials__info p span {
    display: inline;
  }
  .testimonials__info span {
    display: block;
    text-align: center;
  }
}

.map__hexagon {
  margin: -100px auto 0 auto;
  position: relative;
  top: 120px;
  width: 210px;
  height: 240px;
  background-color: #fe8682;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  position: relative;
  z-index: -100;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}
.map__hexagon::before {
  content: "";
  width: 190px;
  height: 220px;
  -webkit-clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
          clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
  background: #fc635e;
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: -100;
}
.map__hexagon p {
  position: absolute;
  top: 70px;
  font-size: 27px;
  color: white;
  line-height: 0.778;
}
.map__hexagon span {
  position: absolute;
  top: 110px;
  left: 20px;
  font-size: 15px;
  color: white;
  line-height: 1.4;
  text-align: left;
}
.map__maps {
  width: 100%;
}
.map__maps iframe {
  width: 100%;
  height: 340px;
  border: none;
}

.footer {
  background: url(../img/Слой19.png) 50% 50%/cover no-repeat;
  height: 200px;
  margin: -10px 0 0 0;
}
.footer__logo {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__logo p {
  padding-left: 15px;
  font-size: 24px;
  color: white;
  font-weight: bold;
  line-height: 0.65;
  text-align: center;
}