doctype html
html
    head
        title Daisy
        link(rel="stylesheet", href="css/style.css")
        meta(charset="UTF-8")
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    body
        .header
            .header__content 
                .header__menu 
                    .header__logo 
                        a(href="")    
                            img(src="img/logo3.png", alt="")
                        p Daisy
                    .header__nav 
                        ul 
                            li  
                                a(href="") about
                            li 
                                a(href="") portfolio
                            li 
                                a(href="") services
                            li
                                a(href="") contact

                .header__head
                    .header__title 
                        h1 clients in your business
                    .header__subtitle 
                        h2 Your clients on the internet. Learn how to receive them.
                    .header__button 
                        a(href="") I want clients
                        img(src="img/Forma1.png", alt="")

            .header__slider.slider1
                a(href="")
                    img(src="img/slider.png", alt="")

        .what 
            .what__content 

                .what__header.head 
                    .what__title 
                        p What can 
                            span you receive?
                    .what__subtitle 
                        p.
                            Daisy is sagittis sem nibh id elit. Duis sed odio 
                            sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum 

                .what__body 
                    .what__info 
                        a(href="") 
                            .six 
                                img(src="img/Forma3.png", alt="")
                        p clients
                        span This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
                    .what__info 
                        a(href="") 
                            .seven
                                img(src="img/Forma4.png", alt="")
                        p branding
                        span This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
                    .what__info 
                        a(href="") 
                            .six
                                img(src="img/Forma.png", alt="")
                        p marketing
                        span This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 
                    .what__info
                        a(href="") 
                            .six
                                img(src="img/Forma2.png", alt="")
                        p adv.
                        span This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit auctor aliquet. Aenean 

                .what__slider.slider2
                    a(href="")
                        img(src="img/slider2.png", alt="")
            
        .expand 
            .expand__body 
                .expand__box 
                    .expand__header 
                        p expand 
                            span your business
                        .expand__button 
                            a(href="") Join Us

                .expand__slider.slider1
                    a(href="")
                        img(src="img/slider.png ", alt="")

        .process 

            .process__content 
                .process__header
                    .what__title 
                        p our 
                            span process
                    .what__subtitle 
                        p.
                            Daisy is sagittis sem nibh id elit. Duis sed odio 
                            sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan ipsum 
                .process__body 
                    
                    .process__hexagons
                        .process__hexagon1.hexagon
                            h2 step 
                                span 1
                            p.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida 
                        .process__hexagon2.hexagon
                            
                        .process__hexagon3.hexagon
                            h2 step 
                                span 2
                            p.
                                this is Photoshop's version  of Lorem Ipsum. Proin gravida 
                        .process__hexagon4.hexagon
                            h2 step 
                                span 3
                            p.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida  
                        .process__hexagon5.hexagon
                            h2 step 
                                span 4
                            p.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida 
                    
                    .process__line 
                        svg 
                            polyline(points="0,150 87.5,100 175,150 175,250 272,305 272,205 358,155 358,55 445,6 532,55 532,157 662,80 790,157 790,310 662,385") 
                    
                    .process__img1 
                        a(href="")     
                            img(src="img/Forma5.png", alt="")
                    .process__img2 
                        a(href="")    
                            img(src="img/Forma6.png", alt="")
                    .process__img3 
                        a(href="")    
                            img(src="img/Forma7.png", alt="")
                    .process__img4 
                        a(href="")    
                            img(src="img/Forma8.png", alt="")
                    .process__img5 
                        a(href="")    
                            img(src="img/Forma9.png", alt="")
            .process__slider.slider2
                a(href="")
                    img(src="img/slider2.png", alt="")

        .do 
            .do__content 
                .do__slideone 
                    .do__header 
                        .what__title 
                            p What do 
                                span we do?  
                    .do__body 
                        .do__info 
                            p landing pages
                            span.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
                                vulputate cursus
                                a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a 
                            .do__button 
                                a(href="")  More Details
                        .do__img 
                            img(src="img/LargeDevice.png", alt="")
                    .what__slider.slider2
                        a(href="")
                            img(src="img/slider2.png", alt="")

                .do__slidetwo
                    .do__body 
                        .do__img
                            img(src="img/Large Devices.png", alt="")
                        .do__info 
                            p advertising
                            span.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
                                vulputate cursus
                                a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a 
                            .do__button 
                                a(href="") More Details
                    .what__slider.slider2
                        a(href="")
                            img(src="img/slider2.png", alt="")

                .do__slidethree 
                    .do__body 
                        .do__info 
                            p marketing kit
                            span.
                                This is Photoshop's version  of Lorem Ipsum. Proin gravida nibh vel velit 
                                auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit
                                consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh 
                                vulputate cursus
                                a sit amet mauris. Morbi accumsan ipsum velit. Nam nec tellus a 
                            .do__button 
                                a(href="")  More Details
                        .do__img 
                            img(src="img/internal_contentкопия.png", alt="")
                    .what__slider.slider2
                        a(href="")
                            img(src="img/slider2.png", alt="")

        .portfolio 
            .portfolio__body 
                .portfolio__title 
                    h2 portfolio
                .portfolio__menu 
                    a(href="") all 
                    a(href="") entertainment 
                    a(href="") sport 
                    a(href="") business 
                    a(href="") building
                .portfolio__content 
                    .portfolio__blocks 
                        .portfolio__bigblock
                            img(src="img/hq-wallpapers_ru_sport_32763_1920x1200.png", alt="")
                            .portfolio__blockinfo 
                                p mountain bikes 
                                a(href="") +
                        .portfolio__litleblocks
                            .portfolio__litleblock
                                img(src="img/37ea72c9e05993e56025a9deff6b755f5e970029.png", alt="")
                                .portfolio__blockinfo 
                                    p mountain bikes 
                                    a(href="") +
                            .portfolio__litleblock
                                img(src="img/2747854030_7b301ab11e_z.png", alt="")
                                .portfolio__blockinfo 
                                    p mountain bikes 
                                    a(href="") +
                    .portfolio__blocks 
                        .portfolio__litleblocks
                            .portfolio__litleblock
                                img(src="img/5356504970_a4344fe77d_z.png", alt="")
                                .portfolio__blockinfo 
                                    p mountain bikes 
                                    a(href="") +
                            .portfolio__litleblock
                                img(src="img/3230011162_f362e738bb_z.png", alt="")
                                .portfolio__blockinfo 
                                    p mountain bikes 
                                    a(href="") +
                        .portfolio__bigblock
                            img(src="img/497d2a4e0e9c2c242a9d06bd019853f7db0e5fb2.png", alt="")
                            .portfolio__blockinfo 
                                p mountain bikes 
                                a(href="") +
                .portfolio__button 
                    a(href="") i want landing page 
            .portfolio__slider.slider2
                a(href="")
                    img(src="img/slider2.png", alt="")
      
        .team 
            .team__content 
                .team__header 
                    .what__title 
                            p our
                                span  team 
                .team__body 
                    .team__info 
                        img(src="img/Слой 12.png", alt="") 
                        p Tomothy
                            span  Bowman
                        span Marketing
                        
                        .team__link 
                            a(href="")
                                img(src="img/Forma 1.png", alt="")
                            a(href="")
                                img(src="img/Forma 2.png", alt="")
                            a(href="")  
                                img(src="img/Forma 3.png", alt="")   
                    .team__info 
                        img(src="img/Слой 11.png", alt="") 
                        p Steve
                            span  Tracy
                        span GEO
                        
                        .team__link 
                            a(href="")
                                img(src="img/Forma 1.png", alt="")
                            a(href="")
                                img(src="img/Forma 2.png", alt="")
                            a(href="")  
                                img(src="img/Forma 3.png", alt="") 
                    .team__info 
                        img(src="img/Слой 13.png", alt="") 
                        p Hellen
                            span  Johns
                        span Clients
                        
                        .team__link 
                            a(href="")
                                img(src="img/Forma 1.png", alt="")
                            a(href="")
                                img(src="img/Forma 2.png", alt="")
                            a(href="")  
                                img(src="img/Forma 3.png", alt="")    
            .portfolio__slider.slider2
                a(href="")
                    img(src="img/slider2.png", alt="")        

        .testimonials 
            .testimonials__kavuchka
                a 
                    img(src="img/heading.png", alt="")
            .testimonials__body 
                .testimonials__text 
                    p.
                        This is Photoshop's version  of Lorem Ipsum. Proin gravida 
                        nibh vel velit auctor aliquet. 
                        Aenean sollicitudin, lorem quis bibendum auctor, nisi elit       
                .testimonials__img 
                    img(src="img/Слой 14.png", alt="")
                .testimonials__info 
                    p Alan
                        span  Richman
                    span CEO of Romanska
            .testimonials__sliderr 
                a 
                    img(src="img/Фигура 11 копия.png", alt="")
                a 
                    img(src="img/Фигура 11.png", alt="")

        .map 
            .map__body 
                .map__hexagon 
                    p Daisy 
                    span 615 4th Ave S, Jacksonville Beach, FL 32250
                .map__maps 
                    iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d20980.183424972973!2d24.711917699999997!3d48.9054285!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4730c146dd31e3d1%3A0xc3ad2929ac452284!2zNDjCsDU0JzM5LjgiTiAyNMKwNDInMTkuNCJF!5e0!3m2!1sru!2sua!4v1613863364439!5m2!1sru!2sua")

        .footer 
            .footer__logo 
                a(href="")    
                    img(src="img/logo3.png", alt="")
                p Daisy


